.navbar{
    display: flex;
    background-color: #4CAF50;
    color: #fff;
    width: 100vw;
    height: 50px;
    justify-content: space-between;
    align-items: center;
}
.left{
    display: flex;
    align-items: center;
    width: 30%;
    margin-left: 50px;
}
.right{
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: space-evenly;
}
.link{
    font-size: 14px;
    text-decoration: none;
    color: rgb(255, 255, 255)
}